.main-layout {
  min-height: 100vh;
  background: #020617;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
}

/* main area */
.main-layout__content {
  flex: 1;
  padding: 16px;
}

.main-layout__container {
  max-width: 1120px;
  margin: 0 auto;
}
